.features {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  width: 100%;
  background-color: #f9f9f9;
  margin: 2rem 0;
  border-radius: 12px;
}

.featureSvg {
  height: 200px;
  width: 200px;
}